# Database Connection
ConnectionStrings__DefaultConnection=User Id=YOUR_USER;Password=YOUR_PASSWORD;Server=YOUR_SERVER;Port=5432;Database=postgres;Ssl Mode=Require;Trust Server Certificate=true;

# JWT Settings
JwtSettings__Key=YOUR_JWT_KEY
JwtSettings__Issuer=Restaurant.System.Api
JwtSettings__Audience=Restaurant.System.Web
JwtSettings__DurationInMinutes=60
