[submodule "Frontend/Restaurant.System.Web/projects/ui-base"]
	path = Frontend/Restaurant.System.Web/projects/ui-base
	url = https://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@github.com/LeeZX24/UI.Base.git
