@reference "tailwindcss";

.btn-login {
  @apply flex bg-blue-500 text-white py-2 px-4 rounded font-normal leading-5 text-center whitespace-nowrap align-middle select-none border border-transparent text-base transition-all duration-200 ease-in-out;
}

.btn-login:hover {
  @apply bg-blue-600 font-bold;
}

.btn-login.disabled {
  @apply pointer-events-none bg-gray-500;
}

.btn-login.disabled:hover {
  @apply cursor-not-allowed;
}

.btn-label {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.col-label {
  @apply w-full lg:w-1/2 px-4;
}

.col-input {
  @apply w-full lg:w-1/2 px-4;
}
