@if(isVisible()) {
  <div class="fixed inset-0 bg-black/50 flex justify-center items-center z-50">
    <div class="bg-white rounded-lg shadow-lg w-80 max-w-full text-center" [ngClass]="themeCssClass">
      @if(headerTemplate()) {
        <div class="px-6 py-4 border-b">
          <ng-container [ngTemplateOutlet]="headerTemplate()"></ng-container>
        </div>
      }

      <div class="content">
        <ng-content></ng-content>
      </div>

      @if(footerTemplate()) {
        <div class="px-6 py-4 border-t flex justify-end gap-2">
          <ng-container [ngTemplateOutlet]="footerTemplate()"></ng-container>
        </div>
      }
      <div class="footer">

      </div>
    </div>
  </div>
}




<!-- @if(this.loading()) {
  <div class="dialogT" [class]="loading()">
    <div class="dialogContentT">
      @if(loading()) {
        <p>Checking Backend ...</p>
      }

      @if(!loading() && error()) {
        <p>backend online!!!</p>
      }

      @if(!loading() && !error()) {
        <p>backend offline</p>
      }
    </div>
    <div class="dialogFooterT">
      @if(!loading())
      {
        <button>OK</button>
      }
      @if(!loading())
      {
        <button>Yes</button>
        <button>No</button>
      }
      @if(!loading())
      {
        <button>{{ loading() }}</button>
      }
    </div>
  </div>
} -->
