<div class="flex flex-wrap">
  <label [attr.for]="fc.inputId" class="formLabel" [ngClass]="labelSize">
    {{ fc.label }}
  </label>
  <div [ngClass]="inputSize">
    <div class="flex">
      @if (isBrowser) {
        <div class="grow">
          <ng-content></ng-content>
        </div>
      }

      <div class="w-2 pt-1">
        <span class="text-red-500" [class.invisible]="!fc.isRequired">*</span>
      </div>

      <div>
        <ng-content select="[attach]"></ng-content>
      </div>

    </div>

    @if (fc.isErrorToShow) {
      <ul class="text-red-600 pl-0 list-none">
        @for (error of fc.getValidationMessages(); track $index) {
          <li>{{ error | errorConverter }}</li>
        }
      </ul>
    }

    @if (fc.isDisabledRequiredError) {
      <ul class="text-red-600 pl-0 list-none">
        <li>{{ fc.getDisableRequireMsg() | errorConverter }}</li>
      </ul>
    }
  </div>
</div>
