.link {
  @apply text-blue-600 underline font-semibold transition-colors duration-200;
}

.link:hover {
  @apply text-blue-800 cursor-pointer;
}

.link:focus {
  @apply outline-none ring-2 ring-blue-400;
}
