@reference "tailwindcss";

.button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.btnRegister {
 @apply flex;
}

.btnRegister.disabled {
  @apply pointer-events-none bg-gray-500;
}

.btnRegister.disabled:hover {
  @apply cursor-not-allowed;
}

.button {
  @apply inline-block font-normal leading-5 text-center whitespace-nowrap align-middle select-none border border-transparent px-4 py-2 text-base rounded transition-all duration-200 ease-in-out;
}

.btnLabel {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.col-label {
  @apply w-full lg:w-1/2 px-4;
}

.col-input {
  @apply w-full lg:w-1/2 px-4;
}
