<rs-label-form-control-base [fc]="fc" [labelSize]="labelSize" [inputSize]="inputSize">
  <input [id]="fc.inputId" class="block w-full px-2 py-1 text-base leading-6 text-gray-700 bg-white border border-gray-300 rounded-md
    transition-all duration-150 ease-in-out focus:border-blue-500 focus:ring focus:ring-blue-200 focus:outline-none
    sm:px-1.5 sm:py-0.5 sm:text-sm sm:rounded"
    [formControl]="fc" [ngClass]="fc.elementCssClass" type="email"
    (input)="convertToUppercase($event)" [mask]="fc.mask" [validation]="fc.mask_validation"
    [maxlength]="fc.maxlength" [minlength]="fc.minlength" placeholder="Email" [readonly]="fc.readonly" #input />
  <ng-container attach>
    <ng-content select="[attach]"></ng-content>
  </ng-container>

  <ng-content></ng-content>
</rs-label-form-control-base>
